template(name="outputtest")
  .ui.text.container.segment
    h1.header problem
    input($b="value : str" type="text", placeholder="enter a math expression")
    p($b="html : outputRaw")
    .ui.divider
    h2.header algebra.js
    p($b="html : output")
    .ui.divider
    h2.header nerdamer
    p($b="html : output2")
    
