template(name="home")
  .ui.text.container
    h1.header MatheCoach Öffentlicher Test Attendorn
    .ui.very.padded.segment
      
      +markdown
        Dies ist die Entwicklerversion des kommenden Mathematik Trainingprogramms.
        Das Programm ist bereits voll Funktionsfähig, aber es gibt noch jede Menge Arbeit:
        
        * Zusätzliche Aufgabengeneratoren müssen entwickelt werden.
        * Bestehende Aufgabengeneratoren müssen in der Schwierigkeit angepasst werden.
        * Die Onlinehilfe muss vollständig überarbeitet werden.
        * Die Verwaltung der Benutzerdaten und Zugriffsrechte muss an die Verwaltungsstrukturen der Schule angepasst werden.
        * Name, Url und Design müssen auf die Schule zugeschnitten werden.
        
        ## Erste Testphase:
        Lehrer melden sich auf der Seite an, tragen ihre Daten ein und machen sich mit dem Programm aus der Sicht eines Schülers vertraut.

        ## Zweite Testphase:
        Lehrer werden im Programm als Lehrer autorisiert und machen sich mit den zusätzlichen Funktionen für Lehrer vertraut.
        
        ## Dritte Testphase:
        Erste Tests mit echten Schülern.

      a.ui.primary.fluid.icon.button(href="/modules")
        i.list.icon
        | hier geht's los
