template(name="moduleScoreDisplay")
  .ui.basic.modal($b="ref : modal")
    .header
      .ui.huge.center.aligned.header($b="text : emoji")
    .content
      .ui.huge.orange.center.aligned.header($b="text : levelTitle")
      .ui.large.red.center.aligned.header($b="text : moduleTitle")
      p.ui.yellow.center.aligned($b="text : modalScoreText")
    .actions
      .ui.basic.grey.inverted.cancel.button
        i.arrow.left.icon
        | Zurück
  .ui.right.floated.red.circular.label($b="ref : label, click : click, class : {huge : inProblemTemplate}")
    | {{emoji}}
    .detail
      | {{displayScore}}
