template(name="layout")
  .site
    +navbar
    .sitecontent
      if permissionGranted
        +Template.dynamic(template=main)
      else
        +accessDenied
    .sitefooter
      +footer

template(name="footer")
  .ui.center.aligned.container
    .ui.divider
    p &copy; 2016 - Jan Pilgenröder
