template(name="layout")
  //- if useMobile
  //-   +mobile
  //- else
  +web

template(name="mobile")
  +navbar
  div($b="style : {padding-top : paddingTop}")
    +systemMessages
    +Template.dynamic(template=main)

template(name="web")
  .site
    +navbar
    .sitecontent($b="style : {padding-top : paddingTop}")
      +systemMessages
      +Template.dynamic(template=main)
    .sitefooter
      +footer

template(name="footer")
  .ui.center.aligned.container
    .ui.divider
    p &copy; 2016 - Jan Pilgenröder
