template(name="problem")
  .ui.text.container
    h2.header($b="text : title")
    .ui.segment
      h3.header($b="text : description")
      p($b="html : problemHtml")
      p($b="text : hint")
    .ui.segment
      h3.header Antwort:
      .ui.fluid.input
        input($b="value : answer, enter : checkAnswer" placeholder="Deine Antwor (als Bruch oder Term)" type="text")
    if answered
      if answerCorrect
        .ui.green.inverted.segment
          h1.header Richtig!
      else
        .ui.red.inverted.segment
          h2.header Dein Ergebnis ist leider falsch.
      .ui.segment
        h3.header Lösung:
        p($b="html : solutionHtml")
        
    button.ui.button($b="click : newProblem") neue Aufgabe
