template(name="problem")
  .ui.text.container
    .ui.grid
      .ten.wide.column
        h2.header($b="text : title")
      .six.wide.right.aligned.column
        .ui.blue.label Level #{currentLevel}
        if currentUser
          .ui.red.label
            i.yellow.star.icon
            | #{currentPerc}
    .ui.segment
      h3.header($b="text : description")
      +mathjax
        div $$#{problemTeX}$$
      p($b="text : hint")
    .ui.segment
      h3.header Antwort:
      .ui.fluid.input
        input($b="value : answer, enter : checkAnswer, focus : focusOnAnswer" placeholder="Deine Antwort (als Bruch oder Term)" type="text")
    if answered
      if answerCorrect
        .ui.green.inverted.center.aligned.segment
          h1.header Richtig!
      else
        .ui.red.inverted.center.aligned.segment
          h2.header Dein Ergebnis ist leider nicht korrekt.
      each failTextsRequired
        .ui.red.inverted.center.aligned.segment
          h3.header($b="text : this")
      each failTextsOptional
        .ui.yellow.inverted.center.aligned.segment
          h3.header($b="text : this")
      unless answerCorrect
        each passTextsRequired
          .ui.green.inverted.center.aligned.segment
            h3.header($b="text : this")
        each passTextsOptional
          .ui.green.inverted.center.aligned.segment
            h3.header($b="text : this")
      .ui.segment
        h3.header Lösung:
        +mathjax
          div $$#{solutionTeX}$$
           
    button.ui.left.floated.teal.icon.button($b="click : gotoModulesList")
      i.arrow.left.icon
      span Module
  
    .ui.blue.icon.buttons
      button.ui.icon.button($b="click : easier, disable : autoLevelOn" title="Level verringern")
        i.minus.icon
      button.ui.button($b="click : harder, disable : autoLevelOn" title="Level erhöhen")
        i.plus.icon
      button.ui.icon.button($b="toggle : autoLevelOn, class : {active : autoLevelOn}, enable : loggedIn" title="Level automatisch anpassen")
        i.setting.icon
    
    if answered        
      button.ui.right.floated.green.icon.button($b="click : newProblem") nächste Aufgabe
        i.arrow.right.icon
    else
      button.ui.right.floated.red.icon.button($b="click : checkAnswer") Lösung prüfen
    
    
    
    //- .ui.hidden.clearing.divider
    //- .ui.divider
    
    //- P Oben rechts wird die Schwierigkeitsstufe angezeigt. Je nach Level können unterschiedliche Aufgabentypen kommen und/oder die Zahlen mit denen man rechnen muss größer werden.
    //- P Wenn man eingeloggt ist (ganz oben rechts), wird ein Punktwert angezeigt. Und man kann die automatische Schwierigkeitssteuerung einschalten. Die automatische Schwierigkeitssteuerung braucht jeweils ein paar Antworten, um zu entscheiden, ob sie die Schwierigkeit hoch setzt. 
    //- 
    //- P Bis schöne Bedienelemente für die manuelle Einstellung der Schwierigkeit kommen, könnt Ihr das hier machen:
    //- 
    //- input($b="check : autoLevelOn" type="checkbox")
    //- label automatische Schweierigkeitssteuerung
    //- 
    //- p
    //-   button.ui.basic.blue.button($b="click : easier, disable : autoLevelOn") Level -
    //-   button.ui.basic.red.button($b="click : harder, disable : autoLevelOn") Level +
    //- 
    //- if currentUser
    //-   p Mit diesem Knopf kann man seine Daten für das aktuelle Modul zurücksetzen. Die Punkte und die Daten für die automatische Schwierigkeitssteuerung für dieses Modul werden gelöscht.
    //-   
    //-   button.ui.basic.button($b="click : resetData") Reset
