template(name="problem")
  .ui.text.container
    if currentUser
      .ui.grid
        .ten.wide.column
          h2.header($b="text : title")
        .six.wide.right.aligned.column
          .ui.blue.label Level #{currentLevel}
          .ui.red.label
            i.yellow.star.icon
            | #{currentPerc}
    else
      h2.header($b="text : title")
    .ui.segment
      h3.header($b="text : description")
      p.tex($b="html : problemHtml")
      p($b="text : hint")
    .ui.segment
      h3.header Antwort:
      .ui.fluid.input
        input($b="value : answer, enter : checkAnswer, focus : focusOnAnswer" placeholder="Deine Antwort (als Bruch oder Term)" type="text")
    if answered
      if answerCorrect
        .ui.green.inverted.center.aligned.segment
          h1.header Richtig!
      else
        .ui.red.inverted.center.aligned.segment
          h2.header Dein Ergebnis ist leider falsch.
      each failTextsOptional
        .ui.yellow.inverted.center.aligned.segment
          h3.header($b="text : this")
      .ui.segment
        h3.header Lösung:
        p.tex($b="html : solutionHtml")
          
    button.ui.left.floated.blue.icon.button($b="click : gotoModulesList")
      i.arrow.left.icon
      span Module
  
    button.ui.right.floated.icon.button($b="click : newProblem, class : nextButtonClass") nächste Aufgabe
      i.arrow.right.icon
    
    .ui.hidden.clearing.divider
    .ui.divider
    
    P Momentan teste ich die automatische Steuerung für die Schwierigkeitsstufe. Deshalb gibt es keine Möglichkeit die Schwierigkeit der Aufgaben von Hand zu ändern. Wenn man sich nicht einloggt bleibt die Schwierigkeit der Aufgaben auf der untersten Stufe.
    
    P Wenn man sich einloggt, wird die Schwierigkeit der Aufgaben automatisch angepasst (Blaues Level Feld oben Rechts) und es wird ein Punktwert angezeigt (Rotes Feld mit Stern).
    
    if currentUser
      p Mit diesem Knopf kann man seine Daten für das aktuelle Modul zurücksetzen und praktisch wieder bei Null anfangen:
      
      button.ui.basic.red.button($b="click : resetData") Reset
      
      if area51
        button.ui.basic.red.button($b="click : newProblemTest") nächste Aufgabe + Level
    
    //- h3.header Schwierigkeitsgrad: #{newLevel} Score: #{currentPerc}
    //- input.ui.range($b="value : newLevel, attr : {min : minLevel, max : maxLevel}" type="range")
    //- p (Änderungen werden bei der nächsten Aufgabe wirksam)
