template(name="adminPanel")
  unless isInRole "admin"
    .ui.text.container.segment
      h1.red.header Zugriff Verboten
      p Nur der Systemadministrator hat Zugriff auf diese Seite.
  else
    .ui.text.container
      h1.header Admin-Panel
      h2.header Klassen
      .ui.segment
        .ui.right.floated.circular.icon.button($b="click : newSchoolClass")
          i.plus.icon
        .ui.clearing.hidden.divider
        .ui.relaxed.divided.list
          each schoolClasses
            +adminSchoolClassDisplay
      h2.header Benutzer
      .ui.segment
        .ui.relaxed.divided.list
          each users
            +adminUserDisplay

template(name="adminSchoolClassDisplay")
  .item
    .ui.right.floated.circular.blue.icon.button($b="click : editSchoolClass")
      i.edit.icon
    .ui.right.floated.circular.red.icon.button($b="click : deleteSchoolClass")
      i.trash.icon
    .content
      .header($b="text : name")
      .meta($b="text : teacherName")
      
                
template(name="adminUserDisplay")
  .item
    .right.floated.content
      a.ui.circular.icon.button($b="attr : {href : mailLink}")
        if mailVerified
          i.green.mail.outline.icon
        else
          i.orange.mail.outline.icon
      button.ui.circular.red.icon.button($b="click : deleteUser")
        i.trash.icon
      button.ui.circular.blue.icon.button($b="click : editUser")
        i.edit.icon
    .content
      .header #{profile.firstName} #{profile.lastName} (#{username})
      .meta Klasse: 
        span($b="text : schoolClassName")
        <br> zuletzt aktiv: 
        span($b="text : timeAgo")
        
