template(name="userLinkDisplay")
  .item
    .content
      a.header($b="text : userName, attr : {href : url}")
      .meta eMail:
        a.span($b="text : email, attr : {href : mailto}")
      .description($b="text : comment")
