template(name="calculator")
  .ui.text.container
    h2.header Output Test
    .ui.segment
      h3.header Input
      .ui.fluid.input
        input(
          $b="value : input, enter : calculate, focus : focusOnInput"
          type="text"
        )
    .ui.segment
      h3.header Output
      h4.header Input -> MathJs -> MathJax:
      +mathjax
        div $$#{teXFromInput}$$
      h4.header Input -> MathJs -> KaTeX
      p($b="html : teXPreview")
      h4.header Nerdamer.toTeX -> KaTeX:
      p($b="html : nerdamerOutputHtml")
      h4.header Algebrajs -> MathJs -> KaTeX:
      p($b="html : algebrajsOutputHtml")
      h4.header Nerdamer AM:
      p($b="html : nerdamerOutputAM")
      h4.header Algebrajs AM:
      p($b="html : algebrajsOutputAM")

    p Diese Seite ist ist nur für Testzwecke, um schnell unterschiedliche Optionen für die Ausgabe von Mathematischen Termen auszuprobieren.
