template(name="calculator")
  .ui.text.container
    h2.header Output Test
    .ui.segment
      h3.header Input
      .ui.fluid.input
        input(
          $b="value : input, enter : calculate, focus : focusOnInput"
          type="text"
        )
    .ui.segment
      h3.header Output
      h4.header Input -> MathJs -> MathJax:
      +mathjax
        div $$#{teXPreview}$$
      h4.header Input -> Nerdamer:
      p($b="html : nerdamerOutputAM")
      h4.header Input -> Nerdamer -> MathJs -> MathJax:
      +mathjax
        div $$#{nerdamerOutputTeX}$$
  
    p Diese Seite ist nur für Testzwecke, um auszuprobieren, wie unterschiedliche mathematische Terme von den unterschiedlichen Funktionsbibiliotheken ausgewertet werden.
