template(name="info")
  .ui.text.container
    h1.header MatheCoach
    .ui.very.padded.segment
      +markdown
        MatheCoach ist eine Webseite, die Dir hilft, die wichtigsten Arbeitsschritte in der Mathematik zu trainieren, damit Du bei schwierigen Aufgaben nicht mehr über die einzelnen Schritte nachzudenken brauchst und Dich auf das eigentliche Problem konzentrieren kanns.
        
        MatheCoach befindet sich in der Entwicklung und ist noch weit davon entfernt, fertig zu sein. Über Anregungen und Fehlermeldungen würde ich mich sehr freuen.
        
        Ich benutze GitHub, um den Programmcode und Fehlermeldungen zu verwalten. Den Programmcode findest Du [hier](https://github.com/JanMP/MatheCoach). 
        
        Anregungen und Fehlermeldungen kannst Du [hier](https://github.com/JanMP/MatheCoach/issues) eingeben. Auf der Seite kannst Du alle Anregungen und Fehlermeldungen von anderen Testern sehen. Um eine eigene Fehlermeldung einzugeben, drückst Du den grünen Knopf ("New issue") oben rechts.
        
        
