template(name="schoolClassSettings")
  .ui.text.container
    with schoolClass
      +schoolClassEditForm

template(name="schoolClassEditForm")
  h1.header($b="text : fullName")
  .ui.clearing.segment
    form.ui.form
      .field($b="class : {error : name.invalid}")
        label Klasse
        input($b="value : name, attr : { title : name.message}" type="text" placeholder="Bezeichnung der Klasse")
      .field($b="class : {error : teacherId.invalid}")
        label Lehrer/in
        select.ui.search.dropdown($b="options : teachers, optionsValue : id, optionsText : name, value : teacherId, ref : teacherSelect, attr : {title : teacherId.message}")
      button.ui.right.floated.button($b="click : save, enable : maySave") Speichern
