template(name="help")
  .ui.text.container
    h1.header Hilfe
    .ui.very.padded.segment
      +markdown
        ##Einloggen
        Einige Funktionen von MatheCoach funktionieren nur, wenn Du dich als Benutzer eingetragen hast. Du kannst dich ganz oben rechts im Menü unter "Sign in" eintragen. Wenn Du zum ersten Mal auf dieser Seite bist, wählst Du "Create account" aus und gibst einen Benutzernamen und (zwei mal) dein Password ein.
        
        ##Module <i class="list icon"></i>
        Die Übungsaufgaben sind in unterschiedliche [Module](/) sortiert. Einige Module sind sehr speziell auf ganz bestimmte Aufgabentypen ausgerichtet. In *Bruchrechnen 1* geht es z.B. nur um Addition und Subtraktion von Brüchen. Andere Module enthalten eine bunte Mischung von Aufgaben. Im Modul *Bruchrechnen* sind verschiedene Bruchrechenaufgaben aus den vorangegangenen Modulen versammelt.
        
        So kannst Du bestimmen, ob Du eine ganz bestimmte Sache trainieren willst, oder ganz allgemein ein weiteres Gebiet wiederholen willst.
        
        ##Level
        Die einzelnen Aufgaben in den Modulen haben unterschiedliche Schwierigkeitsstufen (kurz "Level"). Der Level wird oben rechts angezeigt.
        
        Mit einem höheren Level können Aufgabentypen hinzukommen oder wegfallen. Bei manchen Aufgaben werden mit höherem Level die Zahlen etwas größer. So kannst Du auch das Kopfrechnen trainieren.
        
        Du kannst den Level mit den <i class="tiny bordered inverted blue plus icon"></i> und <i class="tiny bordered inverted blue minus icon"></i> Schaltflächen unter dem Antwortfeld einstellen. Mit <i class="tiny bordered inverted blue setting icon"></i>, schaltest Du die automatische Levelsteuerung ein: Wenn Du ein paar Aufgaben richtig beantwortet hast, wird der Level um eins hochgesetzt. Wenn Du Fehler machst, kann es mit dem Level auch wieder nach unten gehen.
        
        Die automatische Levelsteuerung funktioniert allerdings nur, wenn Du dich als Benutzer eingetragen hast.
        
        ##Mathematische Terme eingeben
        
        Mathematische Terme einzugeben, ist ganz einfach. Das Programm macht aus einfachen Texteingaben automatisch schön formatierte mathematische Ausdrücke. Man muss lediglich darauf achten, dass man bei der Eingabe die Klammern richtig setzt und sich ein paar Spezialfälle wie `sqrt()` für Wurzeln oder `^` für Exponenten merkt. 
        
        Wenn Du dir unsicher bist, ob du einen Term richtig eingegeben hast, kannst Du mit dem kleinen Augensymbol <i class="unhide icon"></i> rechts über der Eingabezeile die Vorschaufunktion einschalten. Wenn mit deiner Eingabe etwas nicht stimmt, wird eine Fehlermeldung angezeit (momentan nur auf Englisch).
        
        Wenn Du (z.B. bei Quadratischen Gleichungen) mehrere Lösungen eingeben musst, dann schreibst Du sie einfach in beliebiger Reihenfolge und trennst durch ein Komma.
        
        Hier einige Beispiele:
        
      +mathjax
        table.ui.very.basic.celled.table
          thead
            tr
              th Eingabe
              th Ergebnis
          tbody
            tr
              td a/b
              td $$\frac{a}{b}$$
            tr
              td (1+3a)/(2b)
              td $$\frac{1+3~ a}{2~\mathrm{b}}$$
            tr
              td 1+3a/2b
              td $$1+\frac{3~ a}{2}~\mathrm{b}$$
            tr
              td x^2
              td $${ x}^{2}$$
            tr
              td (x+5)^(n+1)
              td $${\left( x+5\right)}^{ n+1}$$
            tr
              td sqrt(2)
              td $$\sqrt{2}$$
            tr
              td sqrt((3a+5)/(4b-2)) + 4
              td $$\sqrt{\frac{3~ a+5}{4~\mathrm{b}-2}}+4$$
            tr
              td sin(3pi)
              td $$\sin\left(3~\pi\right)$$
            tr
              td 3, -5
              td $$\mathbb{L}=\left\{ -5, 3 \right\}$$
                
        
        
