template(name="userSettingsPage")
  unless currentUser
    +mustBeLoggedIn
  else
    unless currentUserMayEditProfile
      .ui.text.container
        .ui.icon.message
          i.lock.icon
          .content
            .header Zuggriff auf Benutzerdaten gesperrt.
            p Der Zugriff auf die Benutzerdaten wurde gesperrt. Änderungen können nur vom Systemadministrator vorgenommen werden.
      .ui.hidden.divider
    .ui.text.container
      with profile
        +editUserProfile
      with user
        +editUserSchoolClass
        +userSettings
      +userLogout
        
template(name="userLogout")
  .ui.clearing.segment
    button.ui.red.icon.button($b="click : logout")
      i.sign.out.icon
      | Abmelden
    p Hinweis: Normalerweise brauchst Du dich auf einem Gerät nur einmal anzumelden und kannst dann einfach angemeldet bleiben.
    
template(name="userSettings")
  .ui.clearing.segment
    h3.ui.dividing.header Technische Einstellungen
    div($b="click : toggle")
      +checkmarkToggle(checked=useKaTeX label="Benutze KaTeX anstelle von Mathjax")
