template(name="moduleList")
  .ui.text.container
    h3.header Module
    .ui.segment
      .ui.relaxed.selection.list
        each modules
          +moduleListItem
      
template(name="moduleListItem")
  .item($b="click : gotoModule")
    +moduleScoreDisplay(moduleKey=key userId=userId)
    .content
      .header #{title}
      .description #{description}
      
