template(name="moduleList")
  .ui.text.container
    h1.header Module
    .ui.segment
      .ui.relaxed.selection.list
        each modules
          +moduleListItem
    //- if currentUser
    //-   .ui.checkbox
    //-     input($b="check : showScores" type="checkbox")
    //-     label Erfolgswerte anzeigen
      
template(name="moduleListItem")
  .item($b="click : gotoModule")
    .content
      //- .extra.right.floated($b="if : parent.showScores")
      //-   with moduleScores
      //-     +moduleScoresDisplay
      .header #{title}
      .description #{description}
