template(name="mustBeMentor")
  .ui.text.container.segment
    h1.header Nicht als Nachhilfelehrer angemeldet.
    p Du must als eingtragener Nachhilfelehrer von Aktive Nachhilfe Pisa angemeldet sein, um Zugriff auf diese Seite zu erhalten. 
