template(name="systemMessages")
  if profileIncomplete
    .ui.text.container
      .ui.icon.message
        i.settings.icon
        .content
          .header Benutzerprofil unvollständig.
          p Bitte fülle das Formular mit deinen persönlichen Daten aus.
          a(href="/user-settings") zum Formular
    .ui.hidden.divider
          
          
          
