template(name="systemMessages")
  if profileIncomplete
    .ui.text.container
      .ui.icon.message
        i.settings.icon
        .content
          .header Benutzerprofil unvollständig.
          p Bitte fülle das Formular mit deinen persönlichen Daten aus.
          a(href="/user-settings") zum Formular
  if unsyncedSubmissionsWarning
    .ui.text.container
      .ui.icon.message
        i.red.cloud.upload.icon
        .content
          .header Keine Verbindung zum Server
          p Die letzten Ergebnisse konnten noch nicht mit dem Server synchronisiert werden. Sie werden Lokal gespeichert und bei nächster Gelegenheit auf den Server übertragen.
  .ui.hidden.divider
          
          
