template(name="mentorOverview")
  .ui.text.container
    h1.header Schüler
    .ui.segment
      .ui.list
        each students
          +studentDisplay

template(name="studentDisplay")
  .item
    i.large.middle.aligned.user.icon($b="class : userColor")
    .content
      .header($b="text : name")
      .description($b="text : timeAgo")
  

template(name="submissionListing")
  .ui.relaxed.selection.list
    each submissions
      +submissionDisplay
       
template(name="submissionDisplay")
  .item
    if answerCorrect
      i.large.middle.aligined.green.checkmark.icon
    else
      i.large.middle.aligned.red.remove.icon
    .content
      .header #{moduleTitle}, Level #{level}
      .description($b="text : timeAgo")
