template(name="home")
  .ui.text.container
    h1.header MatheCoach Testbetrieb
    .ui.very.padded.segment
      
      +markdown
        Dies ist die Entwicklerversion des kommenden Mathematik Trainingprogramms.
        Das Programm ist bereits voll Funktionsfähig, aber es gibt noch jede Menge Arbeit:
        
        * Zusätzliche Aufgabengeneratoren müssen entwickelt werden.
        * Bestehende Aufgabengeneratoren müssen in der Schwierigkeit angepasst werden.
        * Die Onlinehilfe muss vollständig überarbeitet werden.
        * Die Verwaltung der Benutzerdaten und Zugriffsrechte muss an die Verwaltungsstrukturen der Schule angepasst werden.
        * Name, Url und Design müssen auf die Schule zugeschnitten werden.
        
        Der Sourcecode von MatheCoach und eine kurze Dokumentation des Aufbaus der Aufgabengeneratoren und Module :  [github.com/janmp/matheCoach](https://github.com/janmp/matheCoach)

      a.ui.primary.fluid.icon.button(href="/modules")
        i.list.icon
        | hier geht's los
