template(name="home")
  .ui.text.container
    h1.header MatheCoach
    .ui.very.padded.segment
      +markdown
        ## Hinweise zur Programmierung von Aufgaben
        Der Programmcode von MatheCoach kann auf [GitHub](https://github.com/JanMP/MatheCoach) eingesehen werden. Im README habe ich auch eine Beschreibung der Funktionsweise von Aufgabengeneratoren abgelegt. Am Ende der Beschreibung finden sich Hinweise, welche Software man benötigt, um mit der Programmierung beginnen zu können (sämtliche Software ist Kostenlos erhältlich). Bei Fragen bin ich gerne behilflich.
        
        ## Achtung: Neues Punktesystem im Test!
        Viele von Euch waren sehr unglücklich darüber, dass die Punkte für das Lösen von Aufgaben
        immer wieder verfallen sind. Deshalb haben wir uns jetzt entschlossen, ein neues Punktesystem in MatheCoach
        einzubauen. Die Punkte werden jetzt dauerhaft abgespeichert und Ihr könnt in jedem Modul unterschiedliche
        Benutzerlevel mit einem Titel und Emoji erreichen. Wenn Ihr auf die Punkteanzeige klickt könnt Ihr mehr
        Informationen zu eurem aktuellen Punktestand sehen (der Teil muss noch ausgebaut werden).
        
        Das Punktesystem ist aber noch nicht ganz fertig. Momentan gibt es 1 Punkt für jede Aufgabe, und die Benutzerlevel
        mit den Titeln und Emoji sind auch noch nicht so spannend. Für die Punkte für jede Aufgabe muss ich mich mit euren
        Lehrern zusammensetzen. Bei den Benutzerleveln und den Titeln würde ich mich über Ideen und Anregungen von Euch freuen.
        
        Und bitte achtet auch darauf, dass alles richtig funktioniert. Wenn Ihr merkt dass, mit den Punktezahlen irgendwas nicht stimmt,
        dann meldet euch so schnell wie möglich bei mir oder euren Lehrern, damit wir der Sache auf den Grund gehen können.
        
        Wir hoffen, dass wir das neue System so schnell wie möglich ans Laufen kriegen, damit Ihr ordentlich eure Punkte bekommt.
        
        ## Testbetrieb
        Dies ist die Entwicklerversion des kommenden Mathematik Trainingprogramms.
        Das Programm ist bereits voll Funktionsfähig, aber es gibt noch jede Menge Arbeit:
        
        * Zusätzliche Aufgabengeneratoren müssen entwickelt werden.
        * Bestehende Aufgabengeneratoren müssen in der Schwierigkeit angepasst werden.
        * Die Onlinehilfe muss vollständig überarbeitet werden.
        * Die Verwaltung der Benutzerdaten und Zugriffsrechte muss an die Verwaltungsstrukturen der Schule angepasst werden.
        * Name, Url und Design müssen auf die Schule zugeschnitten werden.
        
        Hinweis: Die Webbrowser einiger Android Versionen sind fehlerhaft. MatheCoach läuft auf diesen Geräten nicht anständig. Ältere Versionen des Microsoft Internetexplorers bereiten ebenfalls Probleme. In diesen Fällen kann es helfen, wenn man stattdessen den Webbrowser [Chrome](https://www.google.com/chrome) verwendet.
        
        Der Sourcecode von MatheCoach und eine kurze Dokumentation des Aufbaus der Aufgabengeneratoren und Module :
        [github.com/janmp/matheCoach](https://github.com/janmp/matheCoach)
        
        Fehlermeldungen sollten nach Möglichkeit auch über Github erfolgen:
        [github.com/janmp/matheCoach/issues](https://github.com/janmp/matheCoach/issues)

      a.ui.primary.fluid.icon.button(href="/modules")
        i.list.icon
        | hier geht's los
