template(name="lineLabel")
  text(text-anchor="middle" alignment-baseline="hanging" font-size="11" dy="2" x="{{x}}" y="{{y}}" transform="{{transform}}"){{text}}
  
template(name="templateTestOneGeneratorTemplate")
  div
    p Berechne die Länge der Hypothenuse c des Dreiecks mit den Katheten $a={{la}}{{unitTex}}$ und $b={{lb}}{{unitTex}}$. Benutze dabei den Satz des Pythagoras: $a^2+b^2=c^2$.
    .ui.center.aligned.container
      svg(width="200" height="200")
        //- g(transform="rotate(-30 100 100)")
        g(transform=transform)
          //- rect(width="200" height="200" style="fill : pink")
          polygon(points=points 
            style="fill : none; stroke : black; stroke-width : 1.5"
          )
          each labels
            +lineLabel
    p Runde das Ergebnis auf eine Stelle hinter dem Komma.
    
    
