template(name="help")
  .ui.text.container
    h1.header Hilfe
    .ui.segment
      +markdown
        ##Einloggen
        Einige Funktionen von MatheCoach funktionieren nur, wenn Du dich als Benutzer eingetragen hast. Du kannst dich ganz oben rechts im Menü unter "Sign in" eintragen. Wenn du zum ersten Mal auf dieser Seite bist wählst du Create account aus und gibst einen Benutzernamen und (zwei mal) dein Password ein.
        
        ##Module
        Die Übungsaufgaben sind in unterschiedliche [Module](/) sortiert. Einige Module sind sehr speziell auf ganz bestimmte Aufgaben ausgerichtet. In *Bruchrechnen 1* geht es z.B. nur um Addition und Subtraktion von Brüchen. Andere Module enthalten eine buntere Mischung von Aufgaben. Im Modul *Bruchrechnen* sind verschiedene Bruchrechenaufgaben aus den vorangegangenen Modulen versammelt.
        
        So kannst Du bestimmen, ob Du eine ganz bestimmte Sache trainieren willst, oder ganz allgemein ein weiteres Gebiet wiederholen willst.
        
        ##Level
        Die einzelnen Aufgaben in den Modulen haben unterschiedliche Schwierigkeitsstufen (kurz "Level"). Der Level wird oben rechts angezeigt.
        
        Mit einem höheren Level können neue Aufgabentypen hinzukommen, während Aufgabentypen, die zu einfach sind, wegfallen. Bei manchen Aufgaben werden mit höherem Level die Zahlen, mit denen man rechnen muss, etwas größer. So kannst Du auch das Kopfrechnen trainieren.
        
        Du kannst den Level mit den blauen "+" und "-" Schaltflächen einstellen. Mit dem Zahnrad rechts neben den "+" und "-" Tasten, schaltest Du die automatische Levelsteuerung ein: Wenn Du ein paar Aufgaben richtig beantwortet hast, wird der Level um eins hochgesetzt. Wenn Du Fehler machst, kann es mit dem Level auch wieder nach unten gehen.
        
        Die automatische Levelsteuerung funktioniert allerdings nur, wenn Du dich als Benutzer eingetragen hast.
        
        ##Mathematische Terme eingeben
        [kommt noch]
        
        
