template(name="calculator")
  .ui.text.container
    button.ui.right.floated.button($b="text : score, click : incScore")
    h2.header Rechner
    .ui.segment
      h3.header Input
      .ui.fluid.input
        input(
          $b="value : input, focus : focusOnInput"
          type="text"
        )
    .ui.segment
      h3.header Output
      +teXDisplay(teX=nerdamerTeX)
  
  
