template(name="setLayout")
  .ui.small.basic.modal($b="ref : layoutEditor")
    .ui.center.aligned.text.container
      .ui.inverted.icon.header
        i.expand.icon
        | Layout einstellen
      .ui.content
        p
          .ui.huge.basic.inverted.buttons
            button.ui.icon.button($b="click : adjust('contentSize', '-')")
              i.minus.icon
            button.ui.button($b="click : adjust('contentSize', 'reset')") Zoom
            button.ui.icon.button($b="click : adjust('contentSize', '+')")
              i.plus.icon
        p
          .ui.huge.basic.inverted.buttons
            button.ui.icon.button($b="click : adjust('navbarSize', '-')")
              i.minus.icon
            button.ui.button($b="click : adjust('navbarSize', 'reset')") Menü
            button.ui.icon.button($b="click : adjust('navbarSize', '+')")
              i.plus.icon
        p
          .ui.huge.basic.inverted.buttons
            button.ui.icon.button($b="click : adjust('keypadSize', '-')")
              i.minus.icon
            button.ui.button($b="click : adjust('keypadSize', 'reset')") Tasten
            button.ui.icon.button($b="click : adjust('keypadSize', '+')")
              i.plus.icon
        
        
