template(name="mentorChat")
  .ui.text.container
    h1.header Chat mit 
      span($b="text : chatPartnerName")
    .ui.fluid.input
      input($b="value : text, enter : sendMessage" type="text" placeholder="Deine Nachricht. Senden mit Enter.")
    .ui.segment
      .ui.feed
        each messages
          +chatMessageDisplay
          
template(name="chatMessageDisplay")
  .event($b="ref : element")
    .label
      img($b="attr : {src : avatar}")
    .content
      .summary
        span($b="text : senderName")
        span.date($b="text : timeAgo")
      .extra.text($b="text : text")
        p($b="text : avatar")
