template(name="schoolClassActivityGraph")
  .ui.segment
    .ui.grid
      .fourteen.wide.column
        h3.header($b="text : graphTitle")
        p($b="text : graphDescription")
      .two.wide.column
        .ui.right.floated.basic.circular.icon.button($b="toggle : hideSettings")
          i.icons
            i.setting.icon
            if hideSettings
              i.corner.caret.left.icon
            else
              i.corner.caret.down.icon
    .ui.segment($b="unless: hideSettings")
      .ui.form
        h4.ui.dividing.header Anzahl der Tage:
        .ui.basic.buttons
          button.ui.icon.button($b="click : incDays")
            i.plus.icon
          button.ui.button($b="text : days")
          button.ui.icon.button($b="click : decDays")
            i.minus.icon
        h4.ui.dividing.header Module in Plot anzeigen:
        .ui.small.basic.buttons
          button.ui.button($b="click : selectAll") alle
          button.ui.button($b="click : selectNone") keins
        .ui.hidden.divider
        each modules
          .inline.field
            .ui.checkbox
              input(type="checkbox" value=this.key
                $b="group : selectedModules")
              label($b="text : this.title")
      //- .ui.hidden.divider
    .ct-chart.ct-perfect-fourth(id=graphId)
