template(name="moduleScoresDisplay")
  .ui.green.label($b="attr : {title : rightTooltip}")
    i.thumbs.up.icon
    | #{rightText}
  .ui.blue.label($b="attr : {title : streakTooltip}")
    i.forward.icon
    | #{streak}
  
